<!-- Validation failure messages -->
<% if @offer_tag.errors.any? %>
  <% @offer_tag.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Offer Tag</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_offer_tag" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for offer_id -->
      <div class="form-group">
        <label for="offer_id" class="control-label">
          Offer
        </label>

        <%= select_tag(:offer_id, options_from_collection_for_select(Offer.all, :id, :counselor_id, @offer_tag.offer_id), :class => "form-control") %>
      </div>

      <!-- Label and input for tag_id -->
      <div class="form-group">
        <label for="tag_id" class="control-label">
          Tag
        </label>

        <%= select_tag(:tag_id, options_from_collection_for_select(Tag.all, :id, :tag, @offer_tag.tag_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Offer Tag
      </button>
      or
      <a href="/offer_tags">Cancel</a>
    </form>
  </div>
</div>
