<!-- Validation failure messages -->
<% if @want_tag.errors.any? %>
  <% @want_tag.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Want Tag</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_want_tag" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for want_id -->
      <div class="form-group">
        <label for="want_id" class="control-label">
          Want
        </label>

        <%= select_tag(:want_id, options_from_collection_for_select(Want.all, :id, :user_id, @want_tag.want_id), :class => "form-control") %>
      </div>

      <!-- Label and input for tag_id -->
      <div class="form-group">
        <label for="tag_id" class="control-label">
          Tag
        </label>

        <input type="text" id="tag_id" name="tag_id" placeholder="Tag" class="form-control" value="<%= @want_tag.tag_id %>">
      </div>

      <button class="btn btn-success">
        Create Want Tag
      </button>
      or
      <a href="/want_tags">Cancel</a>
    </form>
  </div>
</div>
